.vscode
tempCodeRunnerFile.py

__pycache__/

src/data_providers/generated_world_graphs/

knowledge_roadmap.egg-info/
.pytest_cache/

workspace.code-workspace
knowledge_roadmap/data_providers/login.json
